@model CarVm
@using DreamCar.Model.DataModels.Enums

<section class="additionalEquipment">
    <div class="text-center">
        <h4>Dodatkowe informacje o pojeździe</h4>
        <h5>Te pola nie są obowiązkowe, jednakże ich wypełnienie może wpłynąć pozytywnie na zwiększenie zainteresowania</h5>
    </div>
    <div class="input-group mt-2">
        <div class="container g-0">
            <div class="row carSection">
                <h5 class="text-center">Dane techniczne</h5>
                <div class="form-floating col-12 col-lg-4 mb-2">
                    <select id="driveTypeList" asp-for="DriveType" asp-items="Html.GetEnumSelectList<DriveType>()" class="form-select" style="border-radius: 1rem;">
                        <option value="" disabled selected>Napęd</option>
                    </select>
                    <label for="driveTypeList" class="form-label labelInput">Napęd</label>
                </div>
                <div class="form-floating col-12 col-lg-4 mx-auto">
                    <input id="co2" asp-for="CO2Emission" placeholder="Marka" class="form-control" style="border-radius: 1rem;" />
                    <label class="labelInput" for="co2">Emisja CO2</label>
                    <span asp-validation-for="CO2Emission" class="text-danger"></span>
                </div>
                <div class="col-12 col-lg-4 mt-2">
                    <input type="checkbox" asp-for="DPF" class="btn-check shadow-none" id="dpf" />
                    <label class="btn btn-outline-primary check shadow-none w-100" for="dpf" style="border-radius:1rem;">Filtr cząstek stalych</label>
                </div>
            </div>
            <div class="row carSection">
                <h5 class="text-center">Nadwozie</h5>
                <div class="form-floating col-12 mb-2">
                    <select id="seatsNumberList" asp-for="Seats" asp-items="@ViewBag.SeatsNumber" class="form-select" style="border-radius: 1rem;">
                        <option value="" disabled selected>Ilość miejsc</option>
                    </select>
                    <label for="seatsNumberList" class="form-label labelInput">Liczba miejsc</label>
                </div>
            </div>
            <div class="row carSection">
                <h5 class="text-center">Historia pojazdu</h5>
                <div class="form-floating col-12 my-2">
                    <select id="countriesList" asp-for="OriginCountry" asp-items="@ViewBag.Countries" class="form-select" style="border-radius: 1rem;">
                        <option value="" disabled selected>Kraj pochodzenia</option>
                    </select>
                    <label for="countriesList" class="form-label labelInput">Kraj pochodzenia</label>
                </div>
                <div class="col-12 col-lg-4 my-2">
                    <input type="checkbox" asp-for="IsImported" class="btn-check shadow-none" id="imported" />
                    <label class="btn btn-outline-primary check shadow-none w-100" for="imported" style="border-radius:1rem;">Importowany</label>
                </div>
                <div class="col-12 col-lg-4 my-2">
                    <input type="checkbox" asp-for="IsDamaged" class="btn-check shadow-none" id="damaged" />
                    <label class="btn btn-outline-primary check shadow-none w-100" for="damaged" style="border-radius:1rem;">Uszkodzony</label>
                </div>
                <div class="col-12 col-lg-4 my-2">
                    <input type="checkbox" asp-for="IsRightHandDrive" class="btn-check shadow-none" id="rightHand" />
                    <label class="btn btn-outline-primary check shadow-none w-100" for="rightHand" style="border-radius:1rem;">Kierownica po prawej</label>
                </div>
                <div class="col-12 col-lg-4 my-2">
                    <input type="checkbox" asp-for="RegisterdInPoland" class="btn-check shadow-none" id="registeredPoland" />
                    <label class="btn btn-outline-primary check shadow-none w-100" for="registeredPoland" style="border-radius:1rem;">Zarejestrowany w Polsce</label>
                </div>
                <div class="col-12 col-lg-4 my-2">
                    <input type="checkbox" asp-for="AccidentFree" class="btn-check shadow-none" id="accidentFree" />
                    <label class="btn btn-outline-primary check shadow-none w-100" for="accidentFree" style="border-radius:1rem;">Bezwypadkowy</label>
                </div>
                <div class="col-12 col-lg-4 my-2">
                    <input type="checkbox" asp-for="ASOServiced" class="btn-check shadow-none" id="aso" />
                    <label class="btn btn-outline-primary check shadow-none w-100" for="aso" style="border-radius:1rem;">Serwisowany w ASO</label>
                </div>
                <div class="col-12 my-2">
                    <input type="checkbox" asp-for="FirstOwner" class="btn-check shadow-none" id="firstOwner" />
                    <label class="btn btn-outline-primary check shadow-none w-100" for="firstOwner" style="border-radius:1rem;">Pierwszy właściciel</label>
                </div>
            </div>
            <div class="row carSection">
                <h5 class="text-center">Okres gwarancji producenta</h5>
                <h5 class="text-center mt-3">W postaci daty...</h5>
                <div class="form-floating col-12 col-lg-4 my-2 ">
                    <select id="daysList" asp-for="DayGuaranteePeriod" asp-items="@ViewBag.Days" class="form-select" style="border-radius: 1rem;">
                        <option value="" disabled selected>Dzień</option>
                    </select>
                    <label for="daysList" class="form-label labelInput">Dzień</label>
                </div>
                <div class="form-floating col-12 col-lg-4 my-2">
                    <select id="monthsList" asp-for="MonthGuaranteePeriod" asp-items="@ViewBag.Months" class="form-select" style="border-radius: 1rem;">
                        <option value="" disabled selected>Miesiąc</option>
                    </select>
                    <label for="monthsList" class="form-label labelInput">Miesiąc</label>
                    <span asp-validation-for="CO2Emission" class="text-danger"></span>
                </div>
                <div class="form-floating col-12 col-lg-4 my-2">
                    <select id="yearsList" asp-for="YearGuaranteePeriod" asp-items="@ViewBag.Years" class="form-select" style="border-radius: 1rem;">
                        <option value="" disabled selected>Rok</option>
                    </select>
                    <label for="yearsList" class="form-label labelInput">Rok</label>
                </div>
                <h5 class="text-center mt-3">...lub przebiegu</h5>
                <div class="form-floating col-12">
                    <input id="guranteeMileage" asp-for="GuaranteePeriodMileage" placeholder="Przebieg gwarancyjny" class="form-control" style="border-radius: 1rem;" />
                    <label class="labelInput" for="guranteeMileage">Przebieg [km]</label>
                    <span asp-validation-for="GuaranteePeriodMileage" class="text-danger"></span>
                </div>
            </div>
        </div>
        @*@{
            for (int i = 0; i < ViewBag.EquipmentList.Count; i++)
            {
                <div class="d-flex justify-content-center align-items-center">
                    <input type="checkbox" name="Checked" value="@ViewBag.EquipmentList[i].Id" class="btn-check shadow-none" id="btn-check-outlined @i" autocomplete="off">
                    <label class="btn btn-outline-primary mb-3 check shadow-none" for="btn-check-outlined @i" style="border-radius:1rem; width:250px; margin-left: 25px;">@ViewBag.EquipmentList[i].Description</label>
                </div>
            }
        }*@
    </div>
</section>