@using Microsoft.AspNetCore.Identity
@using DreamCar.Model.DataModels
@using System.ComponentModel.DataAnnotations
@using DreamCar.Services.Services.Extensions
@inject SignInManager<User> SignManager
@inject UserManager<User> UserManager
@model UserAdvertVm

@{
    var isFollowed = (bool)ViewBag.IsFollowed;
    var isSignedIn = SignManager.IsSignedIn(User);
    var userId = UserManager.GetUserId(User);
    var fuel = Model.Car.Fuel.GetAttribute<DisplayAttribute>().Name;
    var body = Model.Car.Body.GetAttribute<DisplayAttribute>().Name;
}

<div class="userInfo justify-content-start">
    <div class="d-flex justify-content-end">
        @if (isSignedIn)
        {
            if (userId == Model.User.Id.ToString())
            {
                <button disabled id="follow" type="button" class="btn shadow-none" style="font-size: 20px; color: lightseagreen;">
                    Obserwuj <i id="followIcon" class="far fa-star"></i>
                </button>
            }
            else if (isFollowed)
            {
                <button data-bs-toggle="tooltip" data-bs-placement="right" title="Naciśnij by usunąć ogłoszenie z obserwowanych" id="follow" type="button" class="btn shadow-none" style="font-size: 20px; color: lightseagreen;">
                    Usuń z obserwowanych <i id="followIcon" class="fas fa-star"></i>
                </button>

            }
            else
            {
                <button id="follow" type="button" class="btn shadow-none" style="font-size: 20px; color: lightseagreen;">
                    Obserwuj <i id="followIcon" class="far fa-star"></i>
                </button>
            }
        }
        else
        {
            if (isFollowed)
            {
                <button data-bs-toggle="tooltip" data-bs-placement="right" title="Naciśnij by usunąć ogłoszenie z obserwowanych" id="follow" type="button" class="btn shadow-none" style="font-size: 20px; color: lightseagreen;">
                    Usuń z obserwowanych <i id="followIcon" class="fas fa-star"></i>
                </button>
            }
            else
            {
                <button data-bs-toggle="tooltip" data-bs-placement="right" title="Naciśnij by dodać ogłoszenie do obserwowanych" id="follow" type="button" class="btn shadow-none" style="font-size: 20px; color: lightseagreen;">
                    Obserwuj <i id="followIcon" class="far fa-star"></i>
                </button>
            }
        }
    </div>
    <div class="row">
        <h2 style="margin: 0 !important;">@Model.Title</h2>
    </div>
    <div class="row g-0">
        <h5 style="margin: 0 !important;" class="col-2 col-sm-6 col-lg-2">
            @Model.Car.ProductionYear
        </h5>
        <h5 style="margin: 0 !important;" class="col-4 col-sm-6 col-lg-4">
            @Model.Car.Mileage km
        </h5>
        <h5 style="margin: 0 !important;" class="col-3 col-sm-6 col-lg-3">
            @fuel
        </h5>

        <h5 style="margin: 0 !important;" class="col-3 col-sm-6 col-lg-3">
            @body
        </h5>
    </div>
    <div class="row mt-3">
        <h2 id="price">@Model.Price <span id="currency">@Model.Currency</span></h2>
    </div>
    <div class="row mt-5">
        <h4 style="font-weight: normal;">@Model.User.FirstName</h4>
        <div class="col-12">
            <i class="fas fa-user"></i>
            <span style="font-size: 20px;" class="ms-2">Zarejestrowany w @Model.User.RegistrationDate.Year</span>
        </div>
        <div class="col-12 mt-2">
            <i class="fas fa-map-marker-alt"></i>
            <span style="font-size: 20px;" class="ms-2">@Model.Localization</span>
        </div>
        <div class="col-12 mt-3 d-flex justify-content-center" style="font-size: 20px;">
            @{
                <button @(userId == Model.User.Id.ToString() ? "disabled" : "") data-bs-toggle="modal"
                    @(isSignedIn ? "data-bs-target=#messageModal" : "data-bs-target=#loginRequiredModal") data-bs-target="#messageModal"
                    class="btn btn-danger w-100 d-flex justify-content-center align-items-center shadow-none">
                    <i style="font-size: 21px;" class="far fa-envelope"></i>
                    <span style="font-size: 21px;" class="ms-2">Kontakt ze sprzedającym</span>
                </button>
            }
        </div>
        <div class="col-12 mt-3 d-flex justify-content-center">
            <button id="phone" class="btn btn-outline-primary w-100 d-flex justify-content-center align-items-center shadow-none">
                <i style="font-size: 21px;" class="fas fa-phone"></i>
                <span id="text" style="font-size: 21px;" class="ms-2">Wyświetl telefon</span>
            </button>
        </div>
    </div>
</div>
