@{
    ViewData["Title"] = "Ogłoszenia użytkownika";
}

@{
    if (TempData["EndAdvertError"] != null)
    {
        <div class="alertMessage alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["EndAdvertError"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["EndAdvertSuccess"] != null)
    {
        <div class="alertMessage alert alert-success alert-dismissible fade show" role="alert">
            @TempData["EndAdvertSuccess"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["DeleteAdvertError"] != null)
    {
        <div class="alertMessage alert alert-danger alert-dismissible fade show" role="alert">
            @TempData["DeleteAdvertError"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["DeleteAdvertSuccess"] != null)
    {
        <div class="alertMessage alert alert-success alert-dismissible fade show" role="alert">
            @TempData["DeleteAdvertSuccess"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["AdvertAdded"] == null ? false : true)
    {
        <div class="alertMessage alert alert-success alert-dismissible fade show" role="alert">
            Ogłoszenie zostało dodane pomyślnie, ma status oczekujące dopóki jeden z moderatorów je zaakceptuje
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<!-- Modal End Confirmation -->
<div class="modal fade" id="endConfirmationModal" tabindex="-1" aria-labelledby="endConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Czy na pewno chcesz zakończyć to ogłoszenie?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Powrót</button>
                <button type="button" id="endAdvertButton" class="btn btn-primary">Zakończ</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Delete Confirmation -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Czy na pewno chcesz usunąć to ogłoszenie?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Powrót</button>
                <button type="button" id="deleteAdvertButton" class="btn btn-danger">Usuń</button>
            </div>
        </div>
    </div>
</div>

@*<section class="pt-2">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="active-tab" data-bs-toggle="tab" data-bs-target="#active" type="button" role="tab" aria-controls="active" aria-selected="true">Aktywne (@ViewBag.ActiveAdvertsNumber)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="pending-tab" data-bs-toggle="tab" data-bs-target="#pending" type="button" role="tab" aria-controls="pending" aria-selected="false">Oczekujące (@ViewBag.PendingAdvertsNumber)</button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="ended-tab" data-bs-toggle="tab" data-bs-target="#ended" type="button" role="tab" aria-controls="ended" aria-selected="false">Zakończone (@ViewBag.EndedAdvertsNumber)</button>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="active" role="tabpanel" aria-labelledby="home-tab">
                        <partial name="_ActiveAdvertsPartial">
                    </div>
                    <div class="tab-pane fade" id="pending" role="tabpanel" aria-labelledby="profile-tab">
                        <partial name="_PendingAdvertsPartial">
                    </div>
                    <div class="tab-pane fade" id="ended" role="tabpanel" aria-labelledby="contact-tab">
                        <partial name="_EndedAdvertsPartial">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>*@
<div class="container">
    <partial name="_NavbarPartial" />
</div>


@section Scripts {
    <script src="~/assets/js/tableScript.js"></script>
    <script>
        var advertId
        $(".dropdownAdvertManageButton").click(function () {
            advertId = $(this).closest("tr").children("td:first").text()
        })

        $("#endAdvertButton").click(function () {
            $.ajax({
                url: "@Url.Action("EndAdvert", "Advert")",
                data: {
                    advertId: advertId
                },
                type: 'POST',
                success: function (response) {
                    window.location.href = response.redirectToUrl
                    $("#endConfirmationModal").modal('hide');
                },
                error: function () {
                    $("#endConfirmationModal").modal('hide');
                }
            })
        })
        $("#deleteAdvertButton").click(function () {
            $.ajax({
                url: "@Url.Action("DeleteAdvert", "Advert")",
                data: {
                    advertId: advertId
                },
                type: 'POST',
                success: function (response) {
                    window.location.href = response.redirectToUrl
                    $("#deleteConfirmationModal").modal('hide');
                },
                error: function () {
                    $("#deleteConfirmationModal").modal('hide');
                }
            })
        })
    </script>
}
