@using DreamCar.Services.Services.StaticClasses
@using Microsoft.AspNetCore.Identity
@using DreamCar.Model.DataModels
@model UserAdvertVm
@inject UserManager<User> _userManager

<link rel="stylesheet" href="/assets/css/lc_lightbox.min.css" />
<link rel="stylesheet" href="/assets/css/minimal.css" />
<link rel="stylesheet" href="~/assets/css/userAdvert.css" />

@{
    var sender = await _userManager.GetUserAsync(User);
}

<style>
    .input-star {
        margin: 0;
        text-indent: -3px;
        font-size: 6px;
        color: rgb(255,23,8);
    }
</style>

<div id="followSuccess" class="alertMessage alert alert-success alert-dismissible" role="alert" style="display: none;">
    Ogłoszenie zostało dodane do obserwowanych.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div id="compareSuccess" class="alertMessage alert alert-success alert-dismissible" role="alert" style="display: none;">
    Ogłoszenie zostało dodane do porównania.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div id="compare401" class="alertMessage alert alert-warning alert-dismissible" role="alert" style="display: none;">
    Przekroczono limit liczby ogłoszeń do porównania lub  wybrano już dodane ogłoszenie
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div id="unfollowSuccess" class="alertMessage alert alert-success alert-dismissible" role="alert" style="display: none;">
    Ogłoszenie zostało usunięte z obserwowanych.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div id="followError" class="alertMessage alert alert-danger alert-dismissible" role="alert" style="display: none;">
    Wystąpił nieoczekiwany błąd, spróbuj ponownie.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


@{
    if (TempData["Error"] is not null)
    {
        <div id="advertThreadError" class="alertMessage alert alert-danger alert-dismissible" role="alert">
            Wystąpił nieoczekiwany błąd, po stronie serwera lub utworzyłeś dane zapytanie już wcześniej.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (sender is not null)
    {
        await Html.RenderPartialAsync("~/Views/Message/_MessageModalPartial.cshtml", new AdvertThreadMessageVm { AdvertId = Model.Id, CreatedAt = DateTime.Now, RecipientId = Model.User.Id, SenderId = sender.Id });
    }
}

<!-- Login Required Info Modal -->
<div class="modal fade" id="loginRequiredModal" tabindex="-1" aria-labelledby="loginRequiredModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">By móc wysłać wiadomość, musisz się zalogować</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button style="font-size: 18px;" type="button" class="btn btn-secondary w-25 shadow-none" data-bs-dismiss="modal">Powrót</button>
                <a asp-area="Identity" asp-page="/Account/Login"
                   asp-route-returnUrl="@Url.Action("GetAdvert", "Advert", new { advertId = Model.Id })"
                   style="font-size: 18px; margin-left: 15px !important;"
                   id="registrationButton"
                   class="shadow-none btn btn-primary w-25">Zaloguj</a>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5 pt-2 gap-0">
    <div class="row">
        <div class="col-lg-8 d-flex flex-column">
            <partial name="_SellerAdvertPartial" />
            <div class="mb-5"></div>
        </div>
        <div class="col-lg-4 d-flex flex-column mb-5">
            <partial name="_SellerInfoPartial" />
        </div>
    </div>
</div>
<span id="advertLocation" class="d-none" style="pointer-events: none; cursor: none;">@Model.Localization</span>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
<script src='/assets/js/lc_lightbox.lite.min.js' type='text/javascript'></script>
<script src='/assets/js/alloy_finger.min.js' type='text/javascript'></script>
<script>
    function reCaptchaCallbackAdvert() {
        var response = grecaptcha.getResponse();
        if (response.length !== 0) {
            $("#vin").html('@Model.Car.VIN');
            $("#reCaptcha").hide(500);
        }
    }
    function initMap() {
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 10,
            mapTypeId: "terrain",
        });
        var address = $("#advertLocation").html();
        geocoder = new google.maps.Geocoder();
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                const cityCircle = new google.maps.Circle({
                    strokeColor: "lightseagreen",
                    strokeOpacity: 0.8,
                    strokeWeight: 2,
                    fillColor: "lightseagreen",
                    fillOpacity: 0.35,
                    map,
                    center: results[0].geometry.location,
                    radius: 8000,
                });
            }
            else {
                console.log('error');
            }
        });
    }
</script>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=@AesOperationService.GetGoogleMapsApiKey()&language=pl&callback=initMap&v=weekly" async></script>
<script>
    var options = {
        slideshow: true,
        gallery: true,
        open_close_time: 500,
        ol_time_diff: 100,
        slideshow_time: 3000,
        fading_time: 150,
        animation_time: 300,
        counter: true,
        progressbar: true,
        nav_btn_pos: "middle",
        thumbs_nav: true,
        tn_icons: true,
        thumbs_h: 150,
        thumbs_w: 150,
        fullscreen: true,
        fs_img_behavior: "fit",
        fs_only: 800,
        download: true,
        touchswipe: true,
        mousewheel: false
    };
    $(document).ready(function () {
        lc_lightbox('#gallery a', options);
    });

    $("#phone").on('click', function () {
        if ($("#text").text() === "Wyświetl telefon") {
            let phoneNumber = "@(string.IsNullOrEmpty(Model.PhoneNumber) 
                                   ? string.IsNullOrEmpty(Model.User.PhoneNumber) 
                                       ? "Brak numeru" 
                                       : Model.User.PhoneNumber 
                                   : Model.PhoneNumber )";
            $("#text").html(phoneNumber);
        }
        else {
            $("#text").html('Wyświetl telefon');
        }
    });

    $("#follow").click(this, async function () {
        const advertId = "@Model.Id";

        //it means it will be follow action
        if ($("#followIcon").hasClass("far")) {
            const result = await $.post("/Advert/FollowAdvert", $.param({
                advertId: advertId
            }));
            if (result === 200) {
                $("#followIcon").removeClass('far fa-star');
                $("#followIcon").addClass('fas fa-star');
                $("#followSuccess").fadeIn(1000);
                $("#followSuccess").fadeOut(3500);
                $("#follow").html("Usuń z obserwowanych <i id='followIcon' class='fas fa-star'></i>");
            }
            else {
                $("#followError").fadeToggle(2000);
            }
        } // it will be Unfollow action
        else {
            const result = await $.post("/Advert/UnfollowAdvert", $.param({
                advertId: advertId
            }));
            if (result === 200) {
                $("#followIcon").removeClass('fas fa-star');
                $("#followIcon").addClass('far fa-star');
                $("#unfollowSuccess").fadeIn(1000);
                $("#unfollowSuccess").fadeOut(3500);
                $("#follow").html("Obserwuj <i id='followIcon' class='far fa-star'></i>");
            }
            else {
                $("#followError").fadeToggle(2000);
            }
        }
    });

    async function AddAdvertToCompare(advertId) {
        const result = await $.post("/Advert/AddAdvertToCompare", $.param({
            advertId: advertId
        }));
        if (result === 200) {
            $("#compareSuccess").fadeIn(1000);
            $("#compareSuccess").fadeOut(4500);
        }
        else if (result === 400) {
            $("#compare401").fadeIn(1000);
            $("#compare401").fadeOut(4500);
        }
        else {
            $("#followError").fadeToggle(2000);
        }
    }
</script>
}
