@model IEnumerable<UserAdvertVm>
<!-- Modal End Confirmation -->
<div class="modal fade" id="endConfirmationModal" tabindex="-1" aria-labelledby="endConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Czy na pewno chcesz zakończyć to ogłoszenie?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Powrót</button>
                <button type="button" id="endAdvertButton" class="btn btn-primary">Zakończ</button>
            </div>
        </div>
    </div>
</div>
@{
    <div class="container">
        <div class="row">
            @{
                await Html.RenderPartialAsync("_NavbarPartial");
            }
        </div>
        <div class="row mt-3">
            <div class="col-12 col-lg-4 ms-lg-5 mb-3" style="border-radius: 1rem;">
                <input style="border-radius: 1rem;" type="text" class="form-control shadow-none filterAdvert" placeholder="Filtruj po tytule..."
                       onfocus="this.value=''">
            </div>
            <div class="tableAdverts mx-auto table-responsive mb-3">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="d-none"></th>
                            <th scope="col"></th>
                            <th data-bs-toggle="tooltip" data-bs-placement="left" title="Sortuj malejąco/rosnąco wg tytułu" data-bs-animation="true" scope="col"><span>Tytuł</span> <icon class="fas fa-arrow-down" style="font-size:18px; display: none;"></icon></th>
                            <th data-bs-toggle="tooltip" data-bs-placement="left" title="Sortuj malejąco/rosnąco wg ceny" data-bs-animation="true" scope="col"><span>Cena</span> <icon class="fas fa-arrow-down" style="font-size:18px; display: none;"></icon></th>
                            <th data-bs-toggle="tooltip" data-bs-placement="right" title="Sortuj malejąco/rosnąco wg daty utworzenia" data-bs-animation="true" class="d-none d-md-table-cell text-center" scope="col"><span>Data utworzenia</span> <icon class="fas fa-arrow-down" style="font-size:18px;"></icon></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="pendingAdvertsTableData">
                        @{
                            await Html.RenderPartialAsync("_AdvertTableDataPartial", Model);
                        }
                       
                    </tbody>
                </table>
            </div>
            <div class="row">
                <nav aria-label="Page navigation ">
                    <ul class="pagination justify-content-end">
                        @{ int position;
                            int pageCurrent = ViewBag.pageCurrent;
                            float numSize = ViewBag.numSize;
                            if (pageCurrent > 1)
                            {
                                <li class="page-item">
                                    <a aria-label="Previosu" class="page-link " id="pageIndexer" href="@Url.Action("PendingAdverts", "Advert", new {page = pageCurrent-1, _pageSize = ViewBag.pageSize })" tabRanks="-1">
                                        <span aria-hidden="true">&#10094;</span>
                                    </a>
                                </li>
                            }
                            for (position = 1; position <= numSize; position++)
                            {
                                if (position == pageCurrent)
                                {
                                    <li class="page-item active"><a class="page-link" href="@Url.Action("PendingAdverts", "Advert" , new {  page = position, _pageSize = ViewBag.pageSize })">@position</a></li>
                                }
                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("PendingAdverts", "Advert", new { page = position, _pageSize = ViewBag.pageSize })">@position</a></li>
                                }
                            }
                            if (pageCurrent > 0 && pageCurrent < numSize)
                            {
                                <li class="page-item">
                                    <a aria-label="Next" class="page-link" href="@Url.Action("PendingAdverts", "Advert", new {page = pageCurrent+1, _pageSize = ViewBag.pageSize })" tabRanks="-1">
                                        <span aria-hidden="true">&#10095;</span>
                                    </a>
                                </li>
                            } }
                    </ul>
                </nav>
            </div>
        </div>

    </div>
}


@section Scripts {
    <script src="~/assets/js/tableScript.js"></script>
}
