@using DreamCar.Services.Services.StaticClasses

@{ ViewData["Title"] = "Konto"; }

@{
    if (TempData["SaveContactData"] != null && (bool)TempData["SaveContactData"])
    {
        <div class="alertMessage alert alert-success alert-dismissible fade show" role="alert">
            Dane zostały zapisane pomyślnie
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["ChangePassword"] != null && (bool)TempData["ChangePassword"])
    {
        <div class="alertMessage alert alert-success alert-dismissible fade show" role="alert">
            Hasło zostało zmienione pomyślnie
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    if (TempData["ErrorChangePassword"] != null)
    {
        <div class="alertMessage alert alert-danger alert-dismissible fade show" role="alert">
            Coś poszło nie tak, upewnij się, że podałeś <strong>prawidłowe</strong> aktualne hasło.
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    if (TempData["EmailChanged"] != null)
    {
        @if ((bool)TempData["EmailChanged"])
        {
            <div class="alertMessage alert alert-success alert-dismissible fade show" role="alert">
                Link potwierdzający zmianę email, został wysłany. Sprawdzą swoją <strong>skrzynkę pocztową</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else
        {
            <div class="alertMessage alert alert-danger alert-dismissible fade show" role="alert">
                Błąd: @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    }
    if (TempData["EmailChangedConfirm"] != null)
    {
        @if ((bool)TempData["EmailChangedConfirm"])
        {
            <div class="alertMessage alert alert-success alert-dismissible fade show" role="alert">
                Zmiana adresu email, przebiegła pomyślnie
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else
        {
            <div class="alertMessage alert alert-danger alert-dismissible fade show" role="alert">
                Błąd: @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    }
    if (TempData["DownloadPersonalData"] != null)
    {
        @if ((bool)TempData["DownloadPersonalData"])
        {
            <div class="alertMessage alert alert-success alert-dismissible fade show" role="alert">
                Zmiana adresu email, przebiegła pomyślnie
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else
        {
            <div class="alertMessage alert alert-danger alert-dismissible fade show" role="alert">
                Błąd: @TempData["ErrorDownloadPersonalData"]
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
    }

    if (TempData["DeletedAccountFailedMessage"] != null)
    {
        <div class="alertMessage alert alert-danger alert-dismissible fade show" role="alert">
            Błąd: @TempData["DeletedAccountFailedMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
}

<!--Delete Modal Confirmation -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="deleteConfirmationModalLabel"><strong>Czy na pewno chcesz usunąć konto?</strong></h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-footer d-flex justify-content-center align-items-center">
                <button type="button" class="btn btn-primary cancelButton me-2" data-bs-dismiss="modal">Anuluj</button>
                <button id="deleteConfirmButton" type="submit" class="btn btn-danger deleteButtonModal ms-2">Usuń konto</button>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <div class="row" data-aos="fade-left" data-aos-duration="800" data-aos-delay="800" data-aos-once="true">
            <partial name="_ContactDetailsPartial" model="@ViewBag.contactDetails" />
        </div>
        <div class="row" data-aos="fade-right" data-aos-duration="800" data-aos-delay="1200" data-aos-once="true">
            <partial name="_ChangePasswordPartial" />
        </div>
        <div class="row" data-aos="fade-left" data-aos-duration="800" data-aos-delay="1600" data-aos-once="true">
            <partial name="_ChangeEmailPartial" />
        </div>
        <div class="row" data-aos="fade-right" data-aos-duration="800" data-aos-delay="2000" data-aos-once="true">
            <partial name="_DownloadDeletePersonalDataPartial" />
        </div>
    </div>
</section>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#phoneNumber").mask('(99) 999-999-999')
            $("#zipCode").mask('99-999')
            $('#price').mask("#,##0.00", { reverse: true });
        })

        $(".extend").on("click", function () {
            $(".contactContent").slideToggle(500)
            $('html,body').animate({
                scrollTop: $(".contactContent").offset().top
            }, 'slow');
        });
        $(".extendPasswordContent").on("click", function () {
            $(".changePasswordContent").slideToggle(500)
            $('html,body').animate({
                scrollTop: $(".changePasswordContent").offset().top
            }, 'slow');
        });
        $(".extendEmailContent").on("click", function () {
            $(".changeEmailContent").slideToggle(500)
            $('html,body').animate({
                scrollTop: $(".changeEmailContent").offset().top
            }, 'slow');
        });
        $(".extendAccountContent").on("click", function () {
            $(".accountContent").slideToggle(500)
            $('html,body').animate({
                scrollTop: $(".accountContent").offset().top
            }, 'slow');
        });

        $("#deleteButton").click(function () {
            if ($('#formDeleteAccount').valid()) {
                $('#deleteConfirmationModal').modal('show');
            }
        });

        $("#deleteConfirmButton").click(function () {
            var viewModel = {
                UserId: $('#userId').val(),
                Password: $('#currentPasswordDeleteDownload').val()
            };
            $.ajax({
                url: '@Url.Action("DeleteAccount", "Account")',
                data: { UserId: viewModel.UserId, Password: viewModel.Password },
                type: 'POST',
                success: function (response) {
                    window.location.href = response.redirectToUrl
                    $("#deleteConfirmationModal").modal('hide');
                },
                error: function () {
                    $("#deleteConfirmationModal").modal('hide');
                }
            });
        });
    </script>
    <script src="~/assets/js/reCaptchaScript.js"></script>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <partial name="_ValidationScriptsPartial" />
    <script src="https://maps.googleapis.com/maps/api/js?key=@AesOperationService.GetGoogleMapsApiKey()&language=pl&region=PL&callback=initAutocomplete&libraries=places&v=weekly" async></script>
    <script src="~/assets/js/googleSearchBox.js"></script>
}
